<nav id="navbar_1" class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm bg-white">
  
  <a class="navbar-brand" href="#">Trade !</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="main_nav">

      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#section_1" class="scrollto nav-link active"> Section 1 </a></li>
          <li class="nav-item"><a href="#section_2" class="scrollto nav-link"> Section 2 </a></li>
          <li class="nav-item"><a href="#section_3" class="scrollto nav-link"> Section 3 </a></li>
      </ul>
  
    </div>

</nav>