{% load static %}

<!doctype HTML>

<html lang="en">

	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title> Trade! </title>

		<link rel="stylesheet" href="{% static 'index.css' %}">

		{% include 'base/links.html' %}
		
	</head>


	<body data-spy="scroll" data-offset="90" data-target="#navbar_1" style="padding-top:40px">

		{% include 'base/navbar.html'%}

		<div class="container" style="max-width: 800px">
			
			<section id="section_1">

				{% include 'sections/monitor.html' %}

			</section>

			<hr>

			<section id="section_2">

				{% include 'sections/tester.html' %}
					
			</section>

			<hr>

			<section id="section_3">

				{% include 'sections/settings.html' %}
			
			</section>

		</div>

	</body>

	

	<script type="text/javascript" src="{% static 'scroll.js' %}"></script>
	
</html>